/*[fmt]1A90-1A0A-B*/
/*Have ideas for improving this CSS for the general community? Submit your changes at: https://github.com/Valums-File-Uploader/file-uploader*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap');
.qq-upload-list{margin: 0;}
.qq-upload-list li {
	color: #FFFFFF;
    /*height: 14px;*/
	margin: 0 0 1px;
	padding: 4px 15px;
	overflow: hidden;
	line-height: 10px;
	font-size: 12px;
	list-style: none;
	/*+text-shadow:none;*/
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	border-radius: 60px;
	position: relative;
	background: #5DA30C;
}
.qq-upload-list li:before{
    content: '';
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
    top:0;
    background-color: rgba(255,255,255,.24);
    border-radius: 60px;
    animation: gradientShift 1s linear infinite;
}
.qq-upload-file,
.qq-upload-spinner,
.qq-upload-size,
.qq-upload-cancel,
.qq-upload-failed-text {
	margin-right: 12px;
	z-index: 250;
	position: relative;
    font-size: 12px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

.qq-upload-size,
.qq-upload-cancel {
	font-size: 12px;
	font-weight: normal;
}
.qq-upload-failed-text {
	display: none;
}
.qq-upload-fail .qq-upload-failed-text {
	display: inline;
}
.qq-upload-list li.qq-upload-success {
	background: #5DA30C;
	color: #FFFFFF;
}
.qq-upload-list li.qq-upload-fail {
	background: #AF0000;
	color: #FFFFFF;
}
.qq-upload-button:hover {
	background: #0F5BBB;
}
.qq-upload-button:active {
	top: 2px;
}
.qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
	float: right;
}
.qq-upload-spinner {
	display: none;
}
.qq-progress-bar {
	width: 51%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.qq-upload-cancel {
	color: #800000;
}
.qq-upload-success .qq-progress-bar {
	display: none;
}



@-webkit-keyframes gradientShift {

    0%   { left:0}

    100% { left:100%}

}

@-moz-keyframes gradientShift {

    0%   { left:0}

    100% { left:100%}

}
