:root{
    --primary: #2f5b9f;
    --secondary: #3ea8de
}




.fpsm-wrap{margin-top: 24px;}
.fpsm-form-wrap{max-width: 1236px;}
.fpsm-header {padding: 0;}
.fpsm-header p{margin-top: 0;}
.fpsm-header h1{font-size: 48px;}
.fpsm-header h1,
.fpsm-header h2 {color: rgba(0,0,0,.48);margin: 0}
.fpsm-header h1{font-weight: lighter;}

.fpsm-grid-wrap{
    margin-top: 48px;
}

.fpsm-title-wrap h2{display: flex;font-size: 24px;align-items: center;color: rgba(0,0,0,.68)}
.fpsm-add-wrap{margin-left: auto}

.fpsm-floatRight {font-size: 14px;display: inline-block;color: rgba(0,0,0,.48)}
.fpsm-clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.fpsm-field-wrap {
    margin-bottom: 30px;
}
.fpsm-field-wrap > label {
    display: inline-block;
    width: 150px;
    font-weight: 500;
    vertical-align: top;
}
.fpsm-field {
    display: inline-block;
    width: calc(100% - 180px);
}

.fpsm-settings-section-wrap {
    float: left;
    width: 80%;
}
.fpsm-settings-section-wrap {
    float: left;
    width: calc(80% - 20px);
    background: #fff;
    padding: 10px;
    min-height:300px;
}
ul.fpsm-form-nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px 10px;
    cursor: pointer;
}
ul.fpsm-form-nav li a span {
    margin-right: 10px;
}
ul.fpsm-form-nav li a {
    border-right: 5px solid transparent;
}
ul.fpsm-form-nav li:last-child a {
    border-bottom: none;
}
ul.fpsm-form-nav {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
ul.fpsm-form-nav li {
    margin: 0;
}
ul.fpsm-form-nav li a{background-color: rgba(0,0,0,.08);color: rgba(0,0,0,.68);transition: all .3s ease;}
ul.fpsm-form-nav li a:hover,
ul.fpsm-form-nav li a.fpsm-active-nav {
    border-right: 5px solid var(--secondary);
    background: #4c5156;
    color: white;
}
ul.fpsm-form-nav li a:focus {
    box-shadow: none;
}
.fpsm-field input[type="text"] {
    width: 500px;
}
.fpsm-field textarea {
    width: 500px;
    height:100px;
}
.fpsm-component-head .dashicons {
    float: right;
}
.fpsm-component-head h4 {
    float: left;
}
.fpsm-component-head h4 {
    float: left;
    width: 90%;
    margin: 0 5px;
    cursor: pointer;
}
.fpsm-component-head.fpsm-clearfix {
    border: 1px solid #bbb;
    padding: 10px;
}
.fpsm-component-body {
    border: 1px solid #bbb;
    border-top: none;
    padding: 10px;
    display:none;
}
.fpsm-form-each-component {
    margin-bottom: 20px;
}
.fpsm-form-message {
    position: fixed;
    top: 20px;
    left: 40%;
    z-index: 999999;
}
p.fpsm-ajax {
    background: #29B7FF;
}
.fpsm-form-message > p{
    padding:10px;color:#fff;
}
p.fpsm-error {
    background: #FF6969;
}
p.fpsm-info {
    background: #27ae60;
}
p.fpsm-ajax .fpsm-ajax-loader {
    margin-bottom: -4px;
    margin-right: 5px;
}

.fpsm-form-lists-table a.fpsm-edit,
.fpsm-form-lists-table a.fpsm-delete,
.fpsm-form-lists-table a.fpsm-preview,
.fpsm-form-lists-table a.fpsm-copy {
    height: 20px;
    display: inline-block;
    color: #fff;
    -ms-border-radius: 3px;
    border: 1px solid #FF6969;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    margin: 0 2px;
    font-size: 0;
    width: 25px;
    height: 25px;
    position: relative;
    background: #FF6969
}
.fpsm-form-lists-table a.fpsm-edit:before,
.fpsm-form-lists-table a.fpsm-delete:before,
.fpsm-form-lists-table a.fpsm-preview:before,
.fpsm-form-lists-table a.fpsm-copy:before {
    content: '';
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
    left: 6px;
    top: 2px;
}
.fpsm-form-lists-table a.fpsm-edit:before {
    content: '\f040';
    left: 5px;
}
.fpsm-form-lists-table a.fpsm-delete:before {
    content: '\f014';
    font-size: 14px;
}
.fpsm-form-lists-table a.fpsm-preview:before {
    content: '\f06e';
    font-size: 12px;
}
.fpsm-form-lists-table a.fpsm-copy:before {
    content: '\f0c5';
    font-size: 13px;
    left: 5px;
}
.fpsm-form-lists-table a.fpsm-edit {
    background: #27ae60;
    border: 1px solid #27ae60;
}
.fpsm-form-lists-table a.fpsm-preview {
    background: #e2ad33;
    border: 1px solid #e2ad33;
}
.fpsm-form-lists-table a.fpsm-copy {
    background: #0073aa;
    border: 1px solid #0073aa;
}
.fpsm-form-lists-table a.fpsm-edit:hover,
.fpsm-form-lists-table a.fpsm-delete:hover,
.fpsm-form-lists-table a.fpsm-preview:hover,
.fpsm-form-lists-table a.fpsm-copy:hover {
    background: transparent;
}
.fpsm-form-lists-table a.fpsm-edit:hover:before {
    color: #27ae60;
}
.fpsm-form-lists-table a.fpsm-delete:hover:before {
    color: #FF6969 !important;
}
.fpsm-form-lists-table a.fpsm-preview:hover:before {
    color: #e2ad33;
}
.fpsm-form-lists-table a.fpsm-copy:hover:before {
    color: #0073aa;
}
.fpsm-button-primary {
    background: #27ae60;
    padding: 10px 18px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #27ae60;
}

.fpsm-button-primary:hover {
    background: transparent;
    color: #27ae60;
}
.fpsm-export-wrap{margin:20px 0;}
.fpsm-export-wrap form select {
    height: 40px;
    margin-top: -2px;
}
.fpsm-export-wrap > form {
    display: inline-block;
}
h2.nav-tab-wrapper.wp-clearfix.fpsm-nav-wrap {
    margin-bottom: 20px;
}

.fpsm-form-message {
    position: fixed;
    top: 20px;
    left: 40%;
    z-index: 999999;
}
p.fpsm-ajax {
    background: #29B7FF;
}
.fpsm-form-message > p{
    padding:10px;color:#fff;
}
p.fpsm-error {
    background: #FF6969;
}
p.fpsm-info {
    background: #27ae60;
}
p.fpsm-ajax .fpsm-ajax-loader {
    margin-bottom: -4px;
    margin-right: 5px;
}
.fpsm-display-none{display:none;}
form.fpsm-form-wrap {
    padding: 20px;
}

/*=========================== BTNs =============================*/
.fpsm-primary-button{
    background: #27ae60;
    padding: 10px 18px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #27ae60;
    transition: all .3s ease;
}

.fpsm-primary-button:hover {
    background: transparent;
    color: #27ae60;
}
table.fixed{table-layout: auto !important;}
/*=============================================== form elements ================*/
input[type="text"]{
    display: block;
    width: 100%;
    line-height: 38px;
    padding: 0 14px;
}

.fpsm-shortcode-preview{
    display: inline-block;
    vertical-align: top;
    background-color: rgba(0,0,0,.08);
    padding: 0 14px;
    line-height: 38px;
}
.fpsm-clipboard-copy{display: inline-block;vertical-align: top;margin-top: 8px;color: #27ae60;margin-left: 10px;cursor: pointer}

.fpsm-field select{
    height: 38px;
    line-height: 38px;
    padding: 0 14px;
}

table.fpsm-form-lists-table{border-collapse: collapse;}
table.fpsm-form-lists-table tbody tr{border-bottom: solid 1px rgba(0,0,0,.06)}

/*++++++++++++++++++++++++++++==========================+++++++++++++ Backend UI Styles++++++++++++=========*/
.fpsm-wrap{
    padding: 24px;
    background-color: white;
}

.fpsm-form-lists-table tr th{
    padding: 15px;
    background-color: rgba(0,0,0,.1);
    font-weight: 700;
    color: rgba(0,0,0,.48) !important;
}
.fpsm-form-lists-table tr td{padding: 15px;}
.fpsm-form-lists-table tfoot tr th{
    background-color: rgba(0,0,0,.04);
}

.fpsm-form{margin-top: 34px;}
.fpsm-form h2{margin-top: 0;font-size: 20px;margin-bottom: 34px;border-bottom: solid 1px rgba(0,0,0,.1);width: 100%;padding-bottom: 20px;}
.fpsm-form-element-wrap{max-width: 700px;}

.fpsm-shortcode-common{
    width: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,.1);
    padding: 0 10px;
}

.fpsm-field{width: auto}
.fpsm-shortcode-common{max-width: 338px;}