.fpsm-display-none{display:none;}
.fpsm-each-tag {
    display: inline-block;
    background: #eee;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
span.fpsm-tag-remove-trigger {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.fpsm-auto-complete-tags {
    margin-top: 10px;
}

/* ========================= Global styling ============================ */
/*.fpsm-front-form{max-width: 100% !important;width: 100% !important;}*/
.fpsm-front-form .wp-editor-container button,
.fpsm-front-form button:not(.toggle){background-color: transparent}
.fpsm-field-wrap{margin-bottom: 24px;}
.fpsm-field-note{font-size: 11px;font-style: italic;color: rgba(0,0,0,.48)}
.qq-upload-button{height: 40px;background-color: rgba(0,0,0,.08);border-radius: 4px;line-height: 40px;font-size: 14px;text-transform: uppercase;font-weight: 600;padding: 0 15px;cursor: pointer;display: inline-block}
input[type="file"]{
    cursor: pointer;
}

.fpsm-file-preview-row{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(0,0,0,.04);
    border-top:solid 1px rgba(0,0,0,.08);
}
.fpsm-error{
    padding: 0 5px;
    background-color: #cf6857;
    color: white;
    font-size: 12px;
    line-height: 18px;

}
.fpsm-file-preview-row:nth-child(1){border: none;}
.fpsm-file-preview-row span{display: inline-block;flex: 1 1 auto;}
.fpsm-file-preview-row span:last-child{text-align: right}
.fpsm-file-preview-column{
    margin-right: 10px;
    overflow: hidden;
    max-width: 238px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fpsm-file-preview-column input.fpsm-media-delete-button{
    padding: 0 8px;
    line-height: 18px;
    border-radius: 64px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
}
.fpsm-file-preview-column img{
    height: 38px;
    width: 38px;
    object-fit: cover;
}
.fpsm-file-preview-column{font-size: 14px;font-style: italic;color: rgba(0,0,0,.48)}

.fpsm-tag-text{font-size: 12px;}
.fpsm-tag-remove-trigger{font-size: 11px;}
.fpsm-each-tag{line-height: 4px;padding: 5px 8px;}

.fpsm-select-field{
    height: 42px;
    position: relative;
    /*border:solid 1px rgba(0,0,0,.14);*/
    cursor: pointer;
}
.fpsm-select-field:before{
    content:'';
    position: absolute;
    top:18px;
    right: 10px;
    border-style: solid;
    border-width: 6px;
    border-color: rgba(0,0,0,.68) transparent transparent transparent;
}
.fpsm-select-field select{
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0 10px;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    height: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    cursor: pointer;
    border: none;
}

.fpsm-radio{margin-right: 20px;position: relative}
.fpsm-radio input[type="radio"]{position: absolute;opacity: 0;z-index: 5;height: 100%;width: 100%;cursor: pointer}
.fpsm-front-form .fpsm-field-wrap .fpsm-radio label{
    position: relative;
    font-size: 14px;
    font-weight: normal;
    padding-left: 24px;
}
.fpsm-radio label:before{
    position: absolute;
    top:2px;
    left: 0;
    content: '';
    height: 16px;
    width: 16px;
    border: solid 5px rgba(0,0,0,.18);
    transition: all .3s ease;
    border-radius: 50%;
}
.fpsm-radio input[type="radio"]:checked + label:before{
    border-color: #3ea8de;
}

.fpsm-checkbox{margin-right: 20px;position: relative}
.fpsm-checkbox input[type="checkbox"]{position: absolute;opacity: 0;z-index: 5;height: 100%;width: 100%;cursor: pointer}
.fpsm-front-form .fpsm-field-wrap .fpsm-checkbox label{
    position: relative;
    font-size: 14px;
    font-weight: normal;
    padding-left: 24px;
    margin: 0;
}
.fpsm-checkbox label:before{
    position: absolute;
    top:2px;
    left: 0;
    content: '✓';
    height: 16px;
    width: 16px;
    background-color: rgba(0,0,0,.18);
    transition: all .3s ease;
    border-radius: 2px;
    color: rgba(0,0,0, 0.2);
    text-align: center;
    line-height: 16px;
}
.fpsm-checkbox input[type="checkbox"]:checked + label:before{
    background-color: #3ea8de;
    color: white;
}

.fpsm-checkbox-block .fpsm-checkbox{margin-bottom: 15px;}
.fpsm-checkbox-block .fpsm-checkbox label,
.fpsm-checkbox-block .fpsm-checkbox input[type="checkbox"]{display: inline-block}
.fpsm-checkbox-block .fpsm-checkbox:last-child{margin-bottom: 0;}
.fpsm-checkbox-inline{display: flex;flex-wrap: wrap}
.fpsm-checkbox-inline .fpsm-checkbox{margin-right: 30px; margin-bottom: 15px;}

.fpsm-radio-block .fpsm-radio{margin-bottom: 10px;}
.fpsm-radio-block .fpsm-radio:last-child{margin-bottom: 0;}
.fpsm-radio-inline{display: flex;flex-wrap: wrap}
.fpsm-radio-inline .fpsm-radio{margin-right: 30px; margin-bottom: 15px;}

.fpsm-date-picker{
    width: 100%;
    display: flex;
    align-items: center;
}

.fpsm-date-picker i{
    opacity: 0.48;
    margin-left: 15px;
}

.fpsm-field input[type="submit"]{
    background-color: rgba(0,0,0,.48);
    padding: 5px 38px;
    color: white;
    border-radius: 2px;
    line-height: 42px;
    transition: all .3s ease;
}
.fpsm-field input[type="submit"]:hover{
    background-color: rgba(0,0,0,.8);
    text-decoration: none;
}


.fpsm-front-form .insert-media{
    border-radius: 68px !important;
    margin-bottom: 10px !important;
    border-color: rgba(0,0,0,.18) !important;
}
/*============================= Template 1 ========================*/
.fpsm-template-1{
    background-color: #fff;
    padding: 35px;
}
.fpsm-template-1 .fpsm-field-wrap label{
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.fpsm-template-1 input[type="text"],
.fpsm-template-1 input[type="email"],
.fpsm-template-1 input[type="number"],
.fpsm-template-1 input[type="tel"],
.fpsm-template-1 textarea{
    border-radius: 2px;
    background-color: rgba(0,0,0,.04);
    border:solid 1px rgba(0,0,0,.08);
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
}
.fpsm-template-1 textarea{
    line-height: 1.4;
    padding: 15px;
    height: 80px;
    resize: none;
}
.fpsm-template-1 input[type="text"]:focus,
.fpsm-template-1 input[type="email"]:focus,
.fpsm-template-1 textarea:focus{
    border:solid 1px rgba(0,0,0,.14);
}

.fpsm-template-1 .qq-upload-button{
    background-color: #0083f8;
    padding: 5px 38px;
    color: white;
    line-height: 32px;
}
.fpsm-template-1 .qq-upload-list{display: none}
.fpsm-template-1 .fpsm-custom-field-SelectDropdown .fpsm-field{
    border-radius: 2px;
    background-color: rgba(0,0,0,.04);
    border:solid 1px rgba(0,0,0,.08);
}

.fpsm-template-1 .fpsm-field input[type="submit"]{
    background-color: #0083f8;
}
.fpsm-template-1 .fpsm-field input[type="submit"]:hover{
    background-color: rgba(0,0,0,.8);
}