@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coming+Soon&display=swap');

*{
    box-sizing: border-box;
}

[class*="fpsm-login-form-template-"]{
    font-family: 'Nunito Sans', sans-serif;
    padding: 28px;
    box-shadow: rgba(0,0,0,.24) 0 0 24px;
}

[class*="fpsm-login-form-template-"] p{
    margin: 0 0 20px 0;
}
[class*="fpsm-login-form-template-"] p:last-child{
    margin-bottom: 0;
}

.fpsm-login-msg{
    display: inline-block;
    background-color:#f5e0e0;
    color:#c43434;
    padding: 8px 20px;
    font-size: 14px;
    border: solid 1px #e4a0a0;
    border-radius: 3px;
}

[class*="fpsm-login-form-template-"] input[type="text"],
[class*="fpsm-login-form-template-"] input[type="password"]{
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 2px;
    background-color: rgba(0,0,0,.04);
    border:solid 1px rgba(0,0,0,.08);
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
}
[class*="fpsm-login-form-template-"] input[type="submit"]{
    background-color: #0083f8;
    padding: 5px 38px;
    color: white;
    border-radius: 2px;
    line-height: 42px;
    transition: all .3s ease;
}

[class*="fpsm-login-form-template-"] input[type="submit"]:hover{
    background-color: rgba(0,0,0,.8);
}

[class*="fpsm-login-form-template-"] .login-remember label{
    font-weight: 400;
    color: rgba(0,0,0,.68);
}

[class*="fpsm-login-form-template-"] label{
    font-size: 15px;
    font-weight: 800;
    display: block;
    margin-bottom: 8px;
}

/*=================================================================Template 2*/
[class*="fpsm-login-form-template-2"]{
    background-color: #f9fafb;
}

[class*="fpsm-login-form-template-2"] input[type="text"],
[class*="fpsm-login-form-template-2"] input[type="password"]{
    border-radius: 68px;
    background-color: white;
    border:solid 1px rgba(0,0,0,.08);
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
}
[class*="fpsm-login-form-template-2"] input[type="submit"]{
    background-color: #e2b24b;
}

[class*="fpsm-login-form-template-2"] input[type="submit"]:hover{
    background-color: rgba(0,0,0,.8);
}

[class*="fpsm-login-form-template-2"] .login-remember label{
    font-weight: 400;
    color: rgba(0,0,0,.68);
}

[class*="fpsm-login-form-template-2"] label{
    font-size: 15px;
    font-weight: 800;
    display: block;
    margin-bottom: 8px;
}


/*=================================================================Template 3*/
[class*="fpsm-login-form-template-3"]{
    background-color: white;
}

[class*="fpsm-login-form-template-3"] input[type="text"],
[class*="fpsm-login-form-template-3"] input[type="password"]{
    border-radius: 0;
    background-color: white;
    border:solid 1px rgba(0,0,0,.08);
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
}
[class*="fpsm-login-form-template-3"] input[type="submit"]{
    background-color: #e2b24b;
}

[class*="fpsm-login-form-template-3"] input[type="submit"]:hover{
    background-color: rgba(0,0,0,.8);
}

[class*="fpsm-login-form-template-3"] .login-remember label{
    font-weight: 400;
    color: rgba(0,0,0,.68);
}

[class*="fpsm-login-form-template-3"] label{
    font-size: 15px;
    font-weight: 800;
    display: block;
    margin-bottom: 8px;
}

/*=================================================================Template 4*/
[class*="fpsm-login-form-template-4"]{
    background-color: white;
}

[class*="fpsm-login-form-template-4"] #fpsm-login-form p{
    display: flex;
    flex-wrap: nowrap;
}
[class*="fpsm-login-form-template-4"] #fpsm-login-form p .input{
    flex: 1;
}
[class*="fpsm-login-form-template-4"] #fpsm-login-form p > label{
    max-width: 150px;
    flex: 0 0 150px;
}

[class*="fpsm-login-form-template-4"] .login-remember,
[class*="fpsm-login-form-template-4"] .login-submit{
    padding-left: 150px;
}

[class*="fpsm-login-form-template-4"] input[type="text"],
[class*="fpsm-login-form-template-4"] input[type="password"]{
    border-radius: 0;
    background-color: white;
    border:solid 1px rgba(0,0,0,.08);
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
}
[class*="fpsm-login-form-template-4"] input[type="submit"]{
    background-color: #ef7272;
    padding: 10px 24px;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;
}

[class*="fpsm-login-form-template-4"] input[type="submit"]:hover{
    background-color: rgba(0,0,0,.8);
}

[class*="fpsm-login-form-template-4"] .login-remember label{
    font-weight: 400;
    color: rgba(0,0,0,.68);
}

[class*="fpsm-login-form-template-4"] label{
    font-size: 15px;
    font-weight: 800;
    display: block;
    margin-bottom: 8px;
}

/*=================================================================Template 5*/
[class*="fpsm-login-form-template-5"]{
    background-color: #f8f9fb;
}

[class*="fpsm-login-form-template-5"] input[type="text"],
[class*="fpsm-login-form-template-5"] input[type="password"]{
    border-radius: 0;
    background-color: transparent;
    border:solid 1px rgba(0,0,0,.2);
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
}
[class*="fpsm-login-form-template-5"] input[type="submit"]{
    background-color: #8265ca;
    padding: 10px 24px;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0;
    color: white;
}

[class*="fpsm-login-form-template-5"] input[type="submit"]:hover{
    background-color: rgba(0,0,0,.8);
}

[class*="fpsm-login-form-template-5"] .login-remember label{
    font-weight: 400;
    color: rgba(0,0,0,.68);
}


/*=================================================================Template 6*/
[class*="fpsm-login-form-template-6"]{
    background-color: #f8f9fb;
}

[class*="fpsm-login-form-template-6"] input[type="text"],
[class*="fpsm-login-form-template-6"] input[type="password"]{
    border-radius: 68px;
    background-color: #ebebec;
    border:none;
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
}
[class*="fpsm-login-form-template-6"] input[type="submit"]{
    background-color: #8265ca;
    padding: 10px 24px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 700;
    border-radius: 68px;
    color: white;
    letter-spacing: 0;
}

[class*="fpsm-login-form-template-6"] input[type="submit"]:hover{
    background-color: rgba(0,0,0,.8);
}

[class*="fpsm-login-form-template-6"] .login-remember label{
    font-weight: 400;
    color: rgba(0,0,0,.68);
}


/*=================================================================Template 7*/
[class*="fpsm-login-form-template-7"]{
    background-color: white;
}

[class*="fpsm-login-form-template-7"] p:not(.login-remember) label{
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    width: auto;
    margin-bottom: 15px;
    position: relative;
    background-color: rgba(0,0,0,.08);
    padding: 8px 12px;
}

[class*="fpsm-login-form-template-7"] p label:before{
    content:'';
    position: absolute;
    left: 10px;
    bottom: -14px;
    border-style: solid;
    border-width: 7px;
    border-color: rgba(0,0,0,.08) transparent transparent transparent;
}

[class*="fpsm-login-form-template-7"] input[type="text"],
[class*="fpsm-login-form-template-7"] input[type="password"]{
    background-color: transparent;
    border:none;
    padding: 0 15px;
    line-height: 40px;
    font-size: 14px;
    border:solid 1px rgba(0,0,0,.18);
}
[class*="fpsm-login-form-template-7"] input[type="submit"]{
    background-color: #7fd383;
    font-size: 14px;
}

[class*="fpsm-login-form-template-7"] input[type="submit"]:hover{
    background-color: rgba(0,0,0,.8);
}

[class*="fpsm-login-form-template-7"] .login-remember label{
    font-weight: 400;
    color: rgba(0,0,0,.68);
}

/*=================================================================Template 8*/
[class*="fpsm-login-form-template-8"] input[type="text"],
[class*="fpsm-login-form-template-8"] input[type="password"]{
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border:none;
    border-bottom:solid 1px rgba(0,0,0,.08);
}

[class*="fpsm-login-form-template-8"] input[type="submit"]{
    background-color: #7fd383;
    padding: 12px 24px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 700;
    color: white;
    letter-spacing: 0;
}

/*=================================================================Template 9*/
[class*="fpsm-login-form-template-9"] input[type="text"],
[class*="fpsm-login-form-template-9"] input[type="password"]{
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border-width: 2px;
    padding: 0 15px;
}

[class*="fpsm-login-form-template-9"] p.login-username,
[class*="fpsm-login-form-template-9"] p.login-password{
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(0,0,0,.18);
}

[class*="fpsm-login-form-template-9"] input[type="submit"]{
    background-color: #7fd383;
    padding: 12px 24px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 700;
    color: white;
    letter-spacing: 0;
}

/*=================================================================Template 10*/
[class*="fpsm-login-form-template-10"]{
    background-color: white;
    padding: 0;
}
[class*="fpsm-login-form-template-10"] input[type="text"],
[class*="fpsm-login-form-template-10"] input[type="password"]{
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border-width: 2px;
    padding: 0 15px;
}
[class*="fpsm-login-form-template-10"] p{padding: 20px;}
[class*="fpsm-login-form-template-10"] p.login-remember,
[class*="fpsm-login-form-template-10"] p.login-submit{padding: 0 20px;}
[class*="fpsm-login-form-template-10"] p.login-submit{padding-bottom: 20px;}
[class*="fpsm-login-form-template-10"] p.login-username,
[class*="fpsm-login-form-template-10"] p.login-password{
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(0,0,0,.18);
}
[class*="fpsm-login-form-template-10"] p.login-password{
    background-color: rgba(0,0,0,.05);
}

[class*="fpsm-login-form-template-10"] input[type="submit"]{
    background-color: #7fd383;
    padding: 12px 24px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 700;
    color: white;
    letter-spacing: 0;
}