@font-face {
    font-family: 'Lobster Two';
    src: url('LobsterTwo.eot');
    src: url('LobsterTwo.eot?#iefix') format('embedded-opentype'),
        url('LobsterTwo.woff2') format('woff2'),
        url('LobsterTwo.woff') format('woff'),
        url('LobsterTwo.ttf') format('truetype'),
        url('LobsterTwo.svg#LobsterTwo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster Two';
    src: url('LobsterTwo-Bold.eot');
    src: url('LobsterTwo-Bold.eot?#iefix') format('embedded-opentype'),
        url('LobsterTwo-Bold.woff2') format('woff2'),
        url('LobsterTwo-Bold.woff') format('woff'),
        url('LobsterTwo-Bold.ttf') format('truetype'),
        url('LobsterTwo-Bold.svg#LobsterTwo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

